<style type="text/css">
	head{
        font-family: "Segoe UI", sans-serif;
		font-weight: 380;
	}
	footer{
		font-family: "Segoe UI", sans-serif;
		font-weight: 380;
	}
	body{
        background-image: url('https://images.unsplash.com/photo-1510414148252-a2c44206f94b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
        font-family: "Segoe UI", sans-serif;
        font-weight: 380;
	}

	:root{
		--main-background-color: #f2f2f2;
		--dark-background-color: #a2a2a2;
		--secondary-text-color: #808080;
		--light-primary-text-color: #0080ff;
	}
	.box {
    background-color: lightgrey;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
  }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .top {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .bottom {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      /* Styling for the form elements */
      .form-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .error-message {
        display: flex;
        align-items: center;
        justify-content: center;
          background-color: grey;
          color: black;
          margin-bottom: -45px;
          margin-left: 10px;
          width: 250px;
          height: 50px;
          position: absolute;
          left: 140%;
          font-family: Arial, sans-serif;
          white-space: normal;
          word-wrap: break-word;
          border: 1px solid black;
          border-radius: 10px;
          font-size: 17px;
          padding: 5px;
          transform: translate(-50%, -50%);
          text-align: center;
        }
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        width: 300px;
        height: 40px;
        margin: 10px 0;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
      }
    input[id="login"] {
        width: 300px;
        height: 40px;
        margin: 10px 0;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: lightblue;
        color: white;
        cursor: pointer;
      }

</style>