{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	.my-grid{
		border: 1px solid black;
	}
	.my-grid-item{
		border: 1px solid blue;
	}
    .transportation-graphic {
        background-image: url('https://images.unsplash.com/photo-1510414148252-a2c44206f94b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
        background-repeat: no-repeat;
        background-position: center;
        height: 1000px;
          opacity: 0.5;
      }
    .error-message {
        display: flex;
        align-items: center;
        justify-content: center;
          background-color: grey;
          color: black;
          margin-bottom: -45px;
          margin-left: 10px;
          width: 250px;
          height: 50px;
          position: absolute;
          left: 140%;
          font-family: Arial, sans-serif;
          white-space: normal;
          word-wrap: break-word;
          border: 1px solid black;
          border-radius: 10px;
          font-size: 17px;
          padding: 5px;
          transform: translate(-50%, -50%);
          text-align: center;
        }
      .centered {
        position: absolute;
        bottom: 190px;
        left: 50%;
        transform: translate(-50%, -50%);
        }
      input[type="text"],
      input[type="password"] {
        width: 300px;
        height: 40px;
        margin: 10px 0;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
      }
      input[id="api"] {
        width: 300px;
        height: 40px;
        margin: 10px 0;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: lightblue;
        color: white;
        cursor: pointer;
      }
    .top {
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
</style>

<!-- Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->
      <h2 class="centered" style="bottom: 50px;font-family: sans-serif; font-size: xxx-large">Api information</h2>

  <body>

      <form method="post" class="centered">
          {% csrf_token %}
        <div class="form-container">
        <p class="box">
            {{ form.username.label_tag }}</p>
            {{ form.username }}
            {% for error in form.username.errors %}
              <p class="error-message"> - {{ error }}</p>
            {% endfor %}
          </div>
      <div class="form-container">
        <p class="box">
            {{ form.password.label_tag }}</p>
            {{ form.password }}
            {% for error in form.password.errors %}
              <p class="error-message"> - {{ error }}</p>
            {% endfor %}
          </div>
      <div align="center">
            <input type="submit" id="api" name="Submit API" style="background-color: blue"/>
          </div>
      <div align="center">
          <div align="center" class="box" style="background-color: darkred; width: 150px;">
      <a href="/home/" style="color: white;">Back</a>
      <h1 class="bottom">{{ mess }}</h1>
</div></div>
      </form>
      </form>
  <div>


    </div>
  </body>

{% endblock content %}