{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	.my-grid{
		border: 1px solid black;
	}
	.my-grid-item{
		border: 1px solid blue;
	}
</style>

<table align="center">
    <thead>
        <tr>
          <th>Amount of Your Vehicles in the ranking - {{ fleet }}</th>
        </tr>
        <tr>
          <th>Your top vehicle is in {{ position }} position</th>
        </tr>
    </thead>
</table>
  <div class="space"></div>
  <h2>{{ error }}</h2>
  <table>
  <form method="post">
  {% csrf_token %}
    {% for veh in vehicle %}
        <tr>
        <td class="d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center text-dark box" {% if veh.vin in vins %}style="background-color: green;"{% endif %}>{{ forloop.counter }}. {{ veh.vin }} - all time l/100 is {{ veh.avgFuelConsumptionPer100Km }}
        </tr>
      {% endfor %}
  </form>
  </table>
  <nav aria-label="Page navigation">
  <ul class="pagination">
    {% if vehicle.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ vehicle.previous_page_number }}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    {% endif %}

    {% if vehicle.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ vehicle.previous_page_number }}">{{ vehicle.previous_page_number }}</a>
    </li>
    {% endif %}

    <li class="page-item active">
      <a class="page-link" href="#">{{ vehicle.number }} <span class="sr-only"></span></a>
    </li>

    {% if vehicle.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ vehicle.next_page_number }}">{{ vehicle.next_page_number }}</a>
    </li>
    {% endif %}

    {% if vehicle.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ vehicle.next_page_number }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
<form method="post">
    {% csrf_token %}
        <input class="box" type="submit" name="back" value="Back" style="background-color: darkred; width: 300px"/>
    </form>
</body>
</html>

<!-- Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->

{% endblock content %}
