{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	.my-grid{
		border: 1px solid black;
	}
	.my-grid-item{
		border: 1px solid blue;
	}
</style>

<table align="center">
    <thead>
        <tr>
          <th>Amount of Your Vehicles in the ranking - {{ fleet }}</th>
        </tr>
        <tr>
          <th>Your top vehicle is in {{ position }} position</th>
        </tr>
    </thead>
</table>
  <div class="space"></div>
  <h2>{{ error }}</h2>
  <table>
  <form method="post">
  {% csrf_token %}
    {% for veh in vehicle %}
        <tr>
        <td class="d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center text-dark box" {% if veh.vin in vins %}style="background-color: green;"{% endif %}>{{ forloop.counter }}. {{ veh.vin }} - all time l/100 is {{ veh.avgFuelConsumptionPer100Km }}
        </tr>
      {% endfor %}
  </form>
  </table>
  <div class="pagination"  style="border: 1px solid gray;padding: 10px;background-color: indianred; width: 400px">
    <span class="step-links"  >
            <span class="current">
               | Page {{ vehicle.number }} |
            </span>
            {% if vehicle.has_previous %}
                <a href="?page={{ vehicle.previous_page_number }}">&laquo; previous |</a>
                <a href="?page={{ vehicle.previous_page_number }}">{{ vehicle.previous_page_number }} |</a>
            {% endif %}

            <span class="current">
              {{ vehicle.number }} |
            </span>

            {% if vehicle.has_next %}
                <a href="?page={{ vehicle.next_page_number }}">{{ vehicle.next_page_number }} |</a>
                <a href="?page={{ vehicle.next_page_number }}">next &raquo; |</a>

            {% endif %}
        </span>
    </div>
<form method="post">
    {% csrf_token %}
        <input class="box" type="submit" name="back" value="Back" style="background-color: darkred; width: 300px"/>
    </form>
</body>
</html>

<!-- Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->

{% endblock content %}
